@media (max-width: 1250px) {
	.border-right { border: none!important; }
	.row { display: block; }
	.col, .col-2, .col-4, .col-6, .col-8 { max-width: 100%; }
	.row div.my-5:not(:first-child) { margin-top: 0!important; margin-bottom:0!important; }
	.row div.p-5:not(:first-child) { padding-top: 0!important; padding-bottom:0!important; }
	h4.hide { display: none; }
}


@media (max-width: 1024px) {
	.row.p-5, .row.px-5 { padding-left: 0!important; padding-right: 0!important; }
	.img-fluid { max-width: 80%; }
	.display-6 { font-size: 1.5rem; }
}

@media (max-width: 550px) {
	.display-6 { font-size: 1rem; }
	.px-5, .p-5, .pl-5 { padding-left: 1rem!important; padding-right: 1rem!important; }
}
